/* Стиль для фона */
body {
  background-color: #1E2576; /* Цвет фона */
}
#picture-download{
display:vertical;
align-items:center;
justify-content:center;
}
h1{
color:white;
}
#upload-txt-buttons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#all{
display:vertical;
align-items:center;
justify-content:center;
position: relative;
}
.hitbox {
    position: absolute;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    cursor: pointer;
}

.hitbox[data-selected="true"] {
    background-color: #4b9cd3; /* Darker blue */
    border: 2px solid blue;
}

.hitbox-text {
    color: #000000; /* White text */
    text-align: center;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


#original-image {
    position: relative; /* обязательно должен быть position: relative; */
    z-index: 1; /* устанавливаем z-index, например, 1 */
    width=300px;
    height=500px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 2; /* устанавливаем z-index выше, например, 2 */
}
#downloadbtn:hover {
background-color: #4B78EC;
    color:white;

}
#downloadbtn:active {
    background-color: #2980b9;
}
#menu-and-picture{
display:flex;
align-items:center;
justify-content:center;
}
.translation-menu{
background-color: #6773F7;
}
.up-menu{
background-color:#3CF3AC;

}
.text-menu{
background-color:#7C7CD5;
}
/* Стиль для кнопки */
.button {
  background-color: #9ACCFB; /* Цвет кнопки */
  border: none; /* Убираем границу кнопки */
  color: black; /* Цвет текста на кнопке */
  padding: 15px 32px; /* Отступы внутри кнопки */
  text-align: center; /* Выравнивание текста по центру */
  text-decoration: none; /* Убираем подчеркивание у ссылок */
  display: inline-block;
  font-size: 16px; /* Размер шрифта */
  margin: 4px 2px; /* Внешние отступы кнопки */
  cursor: pointer; /* Изменение курсора при наведении на кнопку */
  border-radius: 100px 100px 100px 100px / 200% 200%;
}
textarea{
background:#C5DBF0;
overflow-y: scroll;
border: 1px solid #000;
  /* Для хороших браузеров */
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  -khtml-border-radius: 10px; /* KHTML */
  border-radius: 10px; /* CSS3 */
  /* Для плохих IE */
  behavior: url(border-radius.htc);
}
select{
border-radius:36px;
  display:inline-block;
  overflow:hidden;
  background:#cccccc;
  border:1px solid #cccccc;
}
select:hover{
background-color:#67F38E;

}
option{
width:140px;
  height:40px;
  border:0px;
  outline:none;
}
.select1{
background-color:#C5DBF0;
}
.select2{
background-color:#9ACCFB;
}
 a {
    color: black;
    text-decoration: none;
}
div{
border-radius: 15px;
padding:5px;
}
.button:hover {
background-color: #4B78EC;
    color:white;

}
textarea:hover{
background-color:#67F38E;
}
.button:active {
    background-color: #2980b9;
}