<!DOCTYPE html>
<html>
<link rel="stylesheet" href="static/style.css">
<head>
    <title>Uploaded Image</title>
</head>
<body>
<div id="all">

    <div class="up-menu">
        <img src="/images1/lasso.png" alt="лассо">
        <img src="/images1/pencil.png" alt="карандаш">
        <img src="/images1/text.png" alt="текст">
    </div>
    <div id="menu-and-picture">
        <div class="translation-menu">
            <div>
                <select class="select1" name="models" id="model-select">
                    <option value="google_translate">Google переводчик</option>
                    <option value="test1">тест1</option>
                    <option value="test2">тест2</option>
                </select>
            </div>
            <div>
                <select class="select1" name="languages" id="start-language-select">
                    <option value="English">English</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Russian">Russian</option>
                </select>
            </div>
            <div><textarea readonly="readonly"></textarea></div>
            <div>
                <select class="select1" name="languages2" id="end-language-select">
                    <option value="English">English</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Russian">Russian</option>
                </select>
            </div>
            <div><textarea readonly="readonly"></textarea></div>
            <div>
                <button class="button">Перевести</button>
            </div>
        </div>
        <div id="picture-download">
            <img src="/images1/{{ filename }}" alt="Uploaded Image">
            <button class="button"><a href="/images1/{{ filename }}">Загрузить</a></button>
        </div>
        <div class="text-menu">
            <div>
                <select name="fonts" id="fonts-select" class="select2">
                    <option value="Times New Roman">Times New Roman</option>
                    <option value="Arial">Arial</option>
                    <option value="Comic Sans">Comic Sans</option>
                </select>
            </div>
            <div>
                <select name="types" id="types-select" class="select2">
                    <option value="Regular">Regular</option>
                    <option value="Bold">Bold</option>
                    <option value="Thick">Thick</option>
                </select>
            </div>
            <div>
                <select name="fontsize" id="fontsize-select" class="select2">
                    <option value="10">10</option>
                    <option value="12">12</option>
                    <option value="14">14</option>
                    <option value="16">16</option>
                    <option value="18">18</option>
                    <option value="20">20</option>
                    <option value="22">22</option>
                    <option value="24">24</option>
                </select>
            </div>
            <div>тут будет выбор выравнивания</div>
        </div>
    </div>
</div>


</body>
</html>
