<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title>Uploaded Image</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
</head>
<body>
<div id="all">

    <div id="menu-and-picture">
        <div class="translation-menu mycontainer" id="translation-menu-id">

            <div>
                <select class="select1" name="models" id="model-select">
                    <option value="google_translate">Google переводчик</option>
                    <option value="ChatGPT3.5">ChatGPT3.5</option>
                    <option value="yandex_translate">Yandex переводчик</option>
                </select>
            </div>
            <div>
                <select class="select1" name="languages" id="start-language-select">
                    <option value="en" selected>English</option>
                    <option value="ja">Japanese</option>
                    <option value="ru">Russian</option>
                    <option value="zh-CN">Chinese</option>
                    <option value="ko">Korean</option>
                </select>
            </div>
            <div><textarea id="source-text"></textarea></div>
            <div>
                <select class="select1" name="languages2" id="end-language-select">
                    <option value="en">English</option>
                    <option value="ja">Japanese</option>
                    <option value="ru" selected>Russian</option>
                    <option value="zh-CN">Chinese</option>
                    <option value="ko">Korean</option>
                </select>
            </div>
            <div><textarea id="translated-text"></textarea></div>
            <div id="translate-refresh">
                <button class="button" id="translate-button">Вставить</button>
                <button id="refresh-button" class="button icon-but">
                    <img src="static/refresh.png" alt="Refresh" id="refresh-picture"/>
                </button>
            </div>
            <div>
                <button class="button" id="translate-all-button">Перевести все</button>
            </div>
            <div></div>
            <button class="button" onclick="downloadImage()">Скачать</button>
            <div id="back-forward">
                <button class="button icon-but2" id="forw" >
                    <img src="static/back.png" alt="backward"/>
                </button>
                <h2>0</h2>
                <button class="button icon-but2" id="back">
                    <img src="static/forw.png" alt="forward"/>
                </button>
            </div>
            <div id="switch-container2">
                <h4>Умная заливка</h4>
                <label class="switch">
                    <input type="checkbox" id="checkboxAlightment2">
                    <span class="slider"></span>
                </label>
            </div>
        </div>
    </div>
    <div id="picture-download" style="position: relative;">
        <img src="{{ url_for('send_uploaded_file', filename=filename) }}" alt="Uploaded Image" id="original-image">
        <div id="bubble-overlays"
             style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 6;"></div>
        <div>

    </div>

    </div>
    <button class="button" id="menu-show">Показать меню</button>
    <div class="text-menu mycontainer" id="text-menu-id">
        <h4>Текст</h4>
        <div>
            <select name="fonts" id="fonts-select" class="select2">
                <option value='"Times New Roman"'>Times New Roman</option>
                <option value="Arial" selected>Arial</option>
                <option value='"Comic Sans MS"'>Comic Sans MS</option>
            </select>
        </div>
        <div>
            <select name="types" id="types-select" class="select2">
                <option value="bold">Жирный</option>
                <option value="bolder">Полужирный</option>
                <option value="normal" selected>Обычный</option>
                <option value="lighter">Тонкий</option>
            </select>
        </div>
        <div>
            <select name="fontsize" id="fontsize-select" class="select2">
                <option value="8">8</option>
                <option value="10">10</option>
                <option value="12">12</option>
                <option value="14">14</option>
                <option value="16" selected>16</option>
                <option value="18">18</option>
                <option value="20">20</option>
                <option value="22">22</option>
                <option value="24">24</option>
                <option value="26">26</option>
                <option value="28">28</option>
                <option value="30">30</option>
                <option value="32">32</option>
            </select>
        </div>
        <div>
            <input type="color" id="textColorPicker">
            <span id="textColorValue">#000000</span>
        </div>
        <div>
            <p>Прозрачность: <input type="range" min="0" max="255" id="alpha_text_reg" value="255"></p>
        </div>
        <div>
            <h4>Обводка</h4>
            <div id="switch-container">
                <label class="switch">
                    <input type="checkbox" id="checkboxAlightment">
                    <span class="slider"></span>
                </label> обводка текста
            </div>
            <div><input type="color" id="alightmentColorPicker">
                <span id="alightmentColorValue">#ffffff</span>
            </div>
        </div>
        <div>
            <h4>Фон</h4>
            <div><input type="color" id="colorPicker">
                <span id="colorValue">#ffffff</span>
            </div>
            <div>
                <p>Прозрачность: <input type="range" min="0" max="255" id="alpha_reg" value="255"></p>
            </div>
            <div>
                <p>Блюр: <input type="range" min="0" max="50" id="blur_reg" value="20"></p>
            </div>

        </div>
    </div>
</div>

<script>
    function downloadImage() {
        const element = document.getElementById('picture-download');

        html2canvas(element).then(canvas => {
            const link = document.createElement('a');
            link.href = canvas.toDataURL('image/png');
            link.download = 'screenshot.png';
            link.click();
        });
    }

    function rgbToHex(r, g, b) {
        const toHex = (component) => {
            const hex = component.toString(16);
            return hex.length === 1 ? '0' + hex : hex;
        };

        return `#${toHex(r)}${toHex(g)}${toHex(b)}`;
    }

    document.addEventListener('DOMContentLoaded', async function () {
        const bubbles = {{ bubbles|tojson }};
        const originalImage = document.getElementById('original-image');
        const overlaysContainer = document.getElementById('bubble-overlays');

        const sourceText = document.getElementById('source-text');
        const translatedText = document.getElementById('translated-text');
        const modelSelect = document.getElementById('model-select');
        const startLanguageSelect = document.getElementById('start-language-select');
        const endLanguageSelect = document.getElementById('end-language-select');
        const translateButton = document.getElementById('translate-button');
        const translateAllButton = document.getElementById('translate-all-button');
        const refreshButton = document.getElementById('refresh-button');
        const fontSelect1 = document.getElementById('fonts-select');
        const fontThicknessSelect = document.getElementById('types-select');
        const colorPicker = document.getElementById('colorPicker');
        colorPicker.value = '#ffffff';
        const colorValue = document.getElementById('colorValue');
        const alightmentColorPicker = document.getElementById('alightmentColorPicker');
        const alightmentColorValue = document.getElementById('alightmentColorValue');
        const textColorPicker = document.getElementById('textColorPicker');
        const textColorValue = document.getElementById('textColorValue');
        const fontSelect = document.getElementById('fontsize-select');
        const alphaReg = document.getElementById('alpha_reg');
        const blurReg = document.getElementById('blur_reg');
        const alphaTextReg = document.getElementById('alpha_text_reg');
        const switchAlightment = document.getElementById('checkboxAlightment');
        const menuShowBut = document.getElementById('menu-show');
        originalImage.onload = async function () {
            const imageRect = originalImage.getBoundingClientRect();
            const containerRect = overlaysContainer.getBoundingClientRect();
            const naturalWidth = originalImage.naturalWidth;
            const naturalHeight = originalImage.naturalHeight;

            const scaleX = imageRect.width / naturalWidth;
            const scaleY = imageRect.height / naturalHeight;

            bubbles.forEach((bubble, index) => {
                const bubbleDiv = document.createElement('div');
                bubbleDiv.id = `bubble-${index}`;
                bubbleDiv.style.position = 'absolute';
                bubbleDiv.style.pointerEvents = 'none';

                bubble[0].forEach((fill, fillIndex) => {
                    const fillImg = document.createElement('img');
                    fillImg.src = '/temp/' + fill[2];
                    fillImg.style.position = 'absolute';
                    fillImg.style.left = `${(fill[0][0] * scaleX) + (imageRect.left - containerRect.left)}px`;
                    fillImg.style.top = `${(fill[0][1] * scaleY) + (imageRect.top - containerRect.top)}px`;
                    fillImg.style.width = `${(fill[1][0] - fill[0][0]) * scaleX}px`;
                    fillImg.style.height = `${(fill[1][1] - fill[0][1]) * scaleY}px`;
                    fillImg.style.filter = `blur(0px)`;

                    fillImg.dataset.image_src = '/temp/' + fill[2];
                    bubbleDiv.appendChild(fillImg);
                });

                // Check if bubble[3] exists and create hitbox
                if (bubble[3] && bubble[3].length === 2) {
                    const hitbox = document.createElement('div');
                    hitbox.className = 'hitbox';
                    hitbox.style.left = `${(bubble[3][0][0] * scaleX) + (imageRect.left - containerRect.left)}px`;
                    hitbox.style.top = `${(bubble[3][0][1] * scaleY) + (imageRect.top - containerRect.top)}px`;
                    hitbox.style.width = `${(bubble[3][1][0] - bubble[3][0][0]) * scaleX}px`;
                    hitbox.style.height = `${(bubble[3][1][1] - bubble[3][0][1]) * scaleY}px`;
                    hitbox.dataset.selected = 'false';
                    hitbox.dataset.locale = bubble[2];
                    hitbox.dataset.description = bubble[1];
                    hitbox.dataset.original_text = bubble[1];
                    hitbox.dataset.alightment = false;
                    hitbox.dataset.alightmentColor = "#000000";

                    hitbox.innerHTML = `<div class="hitbox-text" style="font-size: ${fontSelect.value}px; color: #000000; font-family: ${fontSelect1.value}; font-weight: ${fontThicknessSelect.value};">${bubble[1]}</div>`;
                    // hitbox.innerHTML = `<div class="hitbox-text">${bubble[1]}</div>`;
                    bubbleDiv.appendChild(hitbox);

                    hitbox.addEventListener('mouseenter', function () {
                        if (hitbox.dataset.selected !== 'true') {
                            hitbox.style.backgroundColor = 'rgba(75, 156, 211, 0.6)'; // Lighter blue
                        }
                    });

                    hitbox.addEventListener('mouseleave', function () {
                        if (hitbox.dataset.selected !== 'true') {
                            hitbox.style.backgroundColor = 'rgba(0, 0, 0, 0)';
                        }
                    });
                }

                overlaysContainer.appendChild(bubbleDiv);
            });
            menuShowBut.addEventListener('click', (event) => {
            console.log("1");
              var x = document.getElementById('translation-menu-id');
              var y = document.getElementById('text-menu-id');
              if (x.style.display === "none") {
                x.style.display = "block";
              } else {
                x.style.display = "none";
              }
              if (y.style.display === "none") {
                y.style.display = "block";
              } else {
                y.style.display = "none";
              }
              });
            document.addEventListener('click', function (event) {
                const imageRect = originalImage.getBoundingClientRect();
                if(event.clientX >= imageRect.left && event.clientX <= imageRect.right && event.clientY >= imageRect.top && event.clientY <= imageRect.bottom){
                let hitboxClicked = false;

                document.querySelectorAll('.hitbox').forEach(hitbox => {
                    if (hitbox.contains(event.target)) {
                        hitboxClicked = true;
                        if (hitbox.dataset.selected === 'true') {
                            hitbox.dataset.selected = 'false';
                            hitbox.style.backgroundColor = 'rgba(0, 0, 0, 0)';
                        } else {
                            document.querySelectorAll('.hitbox').forEach(hb => {
                                hb.dataset.selected = 'false';
                                hb.style.backgroundColor = 'rgba(0, 0, 0, 0)';
                            });
                            hitbox.dataset.selected = 'true';
                            hitbox.style.backgroundColor = '#4b9cd3'; // Darker blue
                            updateTranslationMenu(hitbox);

                            switchAlightment.checked = (hitbox.dataset.alightment === 'true');
                            alightmentColorValue.textContent = hitbox.dataset.alightmentColor;
                            alightmentColorPicker.value = hitbox.dataset.alightmentColor;
                            fontThicknessSelect.value = hitbox.querySelector('.hitbox-text').style.fontWeight;
                            fontSelect1.value = hitbox.querySelector('.hitbox-text').style.fontFamily;
                            fontSelect.value = hitbox.querySelector('.hitbox-text').style.fontSize.slice(0, -2);

                            const rgbColor = hitbox.querySelector('.hitbox-text').style.color;
                            const rgbValues = rgbColor.match(/\d+/g);
                            const r = parseInt(rgbValues[0]);
                            const g = parseInt(rgbValues[1]);
                            const b = parseInt(rgbValues[2]);
                            const hexColor = rgbToHex(r, g, b);

                            textColorValue.textContent = hexColor;
                            textColorPicker.value = hexColor;

                            const imgs = hitbox.parentElement.querySelectorAll('img');
                            const canvas = document.createElement('canvas');
                            const ctx = canvas.getContext('2d');

                            let totalR = 0, totalG = 0, totalB = 0;

                            imgs.forEach((img, index) => {
                                const image = new Image();
                                image.src = img.src;
                                image.crossOrigin = "Anonymous"; // To avoid cross-origin issues

                                image.onload = () => {
                                    canvas.width = image.width;
                                    canvas.height = image.height;
                                    ctx.drawImage(image, 0, 0, image.width, image.height);

                                    const imageData = ctx.getImageData(0, 0, 1, 1).data; // Get the color of the first pixel
                                    totalR += imageData[0];
                                    totalG += imageData[1];
                                    totalB += imageData[2];

                                    if (index === imgs.length - 1) {
                                        const avgR = Math.round(totalR / imgs.length);
                                        const avgG = Math.round(totalG / imgs.length);
                                        const avgB = Math.round(totalB / imgs.length);

                                        const avgColorHex = rgbToHex(avgR, avgG, avgB);
                                        colorValue.textContent = avgColorHex;
                                        colorPicker.value = avgColorHex;
                                    }
                                };
                            });
                        }
                    } else {
                        hitbox.dataset.selected = 'false';
                        hitbox.style.backgroundColor = 'rgba(0, 0, 0, 0)';
                    }
                });

                if (!hitboxClicked) {
                    document.querySelectorAll('.hitbox').forEach(hitbox => {
                        hitbox.dataset.selected = 'false';
                        hitbox.style.backgroundColor = 'rgba(0, 0, 0, 0)';
                    });
                }
                }
            });

            function updateTranslationMenu(hitbox) {
                sourceText.value = hitbox.dataset.description;
                startLanguageSelect.value = hitbox.dataset.locale;
                translateText();
            }

            function translateText() {
                const text = sourceText.value.trim();
                const fromLang = startLanguageSelect.value;
                const toLang = endLanguageSelect.value;
                const engine = modelSelect.value;

                fetch(`/translate?engine=${engine}&from=${fromLang}&to=${toLang}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ text: text })
                })
                .then(response => response.json())
                .then(data => {
                    translatedText.value = data.translation;
                });
            }

            function fontChange() {
                var flag = true;
                document.querySelectorAll('.hitbox').forEach(hitbox => {
                    if (hitbox.dataset.selected === 'true') {
                        hitbox.querySelector('.hitbox-text').style.fontSize = fontSelect.value+'px';
                        flag = false;
                    }
                });

                if (flag) {
                    document.querySelectorAll('.hitbox').forEach(hitbox => {
                        hitbox.querySelector('.hitbox-text').style.fontSize = fontSelect.value+'px';
                    });
                }
            }
            function fontChange1() {
                var flag = true;
                document.querySelectorAll('.hitbox').forEach(hitbox => {
                    if (hitbox.dataset.selected === 'true') {
                        hitbox.querySelector('.hitbox-text').style.fontFamily = fontSelect1.value;
                        flag = false;
                    }
                });

                if (flag) {
                    document.querySelectorAll('.hitbox').forEach(hitbox => {
                        hitbox.querySelector('.hitbox-text').style.fontFamily = fontSelect1.value;
                    });
                }
            }
            function fontThicknessChange() {
                const fontThicknessSelect = document.getElementById('types-select');
                var flag = true;
                document.querySelectorAll('.hitbox').forEach(hitbox => {
                    if (hitbox.dataset.selected === 'true') {
                        hitbox.querySelector('.hitbox-text').style.fontWeight = fontThicknessSelect.value;
                        flag = false;
                    }
                });

                if (flag) {
                    document.querySelectorAll('.hitbox').forEach(hitbox => {
                        hitbox.querySelector('.hitbox-text').style.fontWeight = fontThicknessSelect.value;
                    });
                }
            }

            function changeImageColor(img, color) {
                const canvas = document.createElement('canvas');
                const ctx = canvas.getContext('2d');
                const imgWidth = img.width;
                const imgHeight = img.height;

                canvas.width = imgWidth;
                canvas.height = imgHeight;

                ctx.drawImage(img, 0, 0, imgWidth, imgHeight);

                const imageData = ctx.getImageData(0, 0, imgWidth, imgHeight);
                const data = imageData.data;

                const hexToRgb = (hex) => {
                    let r = 0, g = 0, b = 0;
                    if (hex.length == 7) {
                        r = parseInt(hex.slice(1, 3), 16);
                        g = parseInt(hex.slice(3, 5), 16);
                        b = parseInt(hex.slice(5, 7), 16);
                    }
                    return { r, g, b };
                }

                const { r, g, b } = hexToRgb(color);

                for (let i = 0; i < data.length; i += 4) {
                    // Change the color by modifying the pixel data
                    data[i] = r;     // Red
                    data[i + 1] = g; // Green
                    data[i + 2] = b; // Blue
                    // Alpha (data[i + 3]) remains unchanged
                }

                ctx.putImageData(imageData, 0, 0);
                img.src = canvas.toDataURL();
            }

            colorPicker.addEventListener('input', (event) => {
                colorValue.textContent = event.target.value;
                var flag = true;
                Array.from(overlaysContainer.children).forEach(child => {
                    const hitbox = child.querySelector('.hitbox');
                    if (hitbox && hitbox.dataset.selected === 'true') {
                        const imgs = child.querySelectorAll('img');
                        const color = event.target.value;
                        imgs.forEach(img => changeImageColor(img, color));
                        flag = false;
                    }
                });


                if (flag) {
                    Array.from(overlaysContainer.children).forEach(child => {
                        const hitbox = child.querySelector('.hitbox');
                        if (hitbox) {
                            const imgs = child.querySelectorAll('img');
                            const color = event.target.value;
                            imgs.forEach(img => changeImageColor(img, color));
                        }
                    });
                }
            });
            alightmentColorPicker.addEventListener('input', (event) => {
                const color = event.target.value;
                alightmentColorValue.textContent = color;
                var flag = true;
                document.querySelectorAll('.hitbox').forEach(hitbox => {
                    if (hitbox.dataset.selected === 'true') {
                        hitbox.dataset.alightmentColor = color;
                        if (hitbox.dataset.alightment === 'true') {
                            var shadowStyle = `
                                -1px -1px 0 ${color},
                                1px -1px 0 ${color},
                                -1px  1px 0 ${color},
                                1px  1px 0 ${color}
                            `;
                            hitbox.querySelector('.hitbox-text').style.textShadow = shadowStyle;
                        }
                        else {
                            hitbox.querySelector('.hitbox-text').style.textShadow = '';
                        }
                        flag = false;
                    }
                });

                if (flag) {
                    document.querySelectorAll('.hitbox').forEach(hitbox => {
                        hitbox.dataset.alightmentColor = color;
                        if (hitbox.dataset.alightment === 'true') {
                            var shadowStyle = `
                                -1px -1px 0 ${color},
                                1px -1px 0 ${color},
                                -1px  1px 0 ${color},
                                1px  1px 0 ${color}
                            `;
                            hitbox.querySelector('.hitbox-text').style.textShadow = shadowStyle;
                        }
                        else {
                            hitbox.querySelector('.hitbox-text').style.textShadow = '';
                        }
                    });
                }
            });
            textColorPicker.addEventListener('input', (event) => {
                const color = event.target.value;
                textColorValue.textContent = color;
                var flag = true;
                document.querySelectorAll('.hitbox').forEach(hitbox => {
                    if (hitbox.dataset.selected === 'true') {
                        hitbox.querySelector('.hitbox-text').style.color = color;
                        flag = false;
                    }
                });

                if (flag) {
                    document.querySelectorAll('.hitbox').forEach(hitbox => {
                        hitbox.querySelector('.hitbox-text').style.color = color;
                    });
                }
            });
            function blurChange() {
                var flag = true;
                Array.from(overlaysContainer.children).forEach(child => {
                    const hitbox = child.querySelector('.hitbox');
                    if (hitbox && hitbox.dataset.selected === 'true') {
                        const imgs = child.querySelectorAll('img');
                        const blurValue = blurReg.value;
                        imgs.forEach(img => {
                            img.style.filter = `blur(${blurValue}px)`;
                        });
                        flag = false;
                    }
                });

                if (flag) {
                    Array.from(overlaysContainer.children).forEach(child => {
                        const hitbox = child.querySelector('.hitbox');
                        if (hitbox) {
                            const imgs = child.querySelectorAll('img');
                            const blurValue = blurReg.value;
                            imgs.forEach(img => {
                                img.style.filter = `blur(${blurValue}px)`;
                            });
                        }
                    });
                }
            }
            function alphaChange() {
                var flag = true;
                Array.from(overlaysContainer.children).forEach(child => {
                    const hitbox = child.querySelector('.hitbox');
                    if (hitbox && hitbox.dataset.selected === 'true') {
                        const imgs = child.querySelectorAll('img');
                        const a = alphaReg.value / 255;
                        imgs.forEach(img => {
                            img.style.opacity = a;
                        });
                        flag = false;
                    }
                });

                if (flag) {
                    Array.from(overlaysContainer.children).forEach(child => {
                        const hitbox = child.querySelector('.hitbox');
                        if (hitbox) {
                            const imgs = child.querySelectorAll('img');
                            const a = alphaReg.value / 255;
                            imgs.forEach(img => {
                                img.style.opacity = a;
                            });
                        }
                    });
                }
            }
            function alphaTextChange() {
                var flag = true;
                document.querySelectorAll('.hitbox').forEach(hitbox => {
                    if (hitbox.dataset.selected === 'true') {
                        hitbox.querySelector('.hitbox-text').style.opacity = alphaTextReg.value / 255;
                        flag = false;
                    }
                });

                if (flag) {
                    document.querySelectorAll('.hitbox').forEach(hitbox => {
                        hitbox.querySelector('.hitbox-text').style.opacity = alphaTextReg.value / 255;
                    });
                }
            }
            function switchAlightmentF() {
                var flag = true;
                var switchV = switchAlightment.checked;
                document.querySelectorAll('.hitbox').forEach(hitbox => {
                    if (hitbox.dataset.selected === 'true') {
                        hitbox.dataset.alightment = switchV;
                        if (switchV) {
                            const color = hitbox.dataset.alightmentColor
                            var shadowStyle = `
                                -1px -1px 0 ${color},
                                1px -1px 0 ${color},
                                -1px  1px 0 ${color},
                                1px  1px 0 ${color}
                            `;
                            hitbox.querySelector('.hitbox-text').style.textShadow = shadowStyle;
                        }
                        else {
                            hitbox.querySelector('.hitbox-text').style.textShadow = '';
                        }
                        flag = false;
                    }
                });

                if (flag) {
                    document.querySelectorAll('.hitbox').forEach(hitbox => {
                        hitbox.dataset.alightment = switchV;
                        if (switchV) {
                            const color = hitbox.dataset.alightmentColor
                            var shadowStyle = `
                                -1px -1px 0 ${color},
                                1px -1px 0 ${color},
                                -1px  1px 0 ${color},
                                1px  1px 0 ${color}
                            `;
                            hitbox.querySelector('.hitbox-text').style.textShadow = shadowStyle;
                        }
                        else {
                            hitbox.querySelector('.hitbox-text').style.textShadow = '';
                        }
                    });
                }
            }

            switchAlightment.addEventListener('change', switchAlightmentF);
            fontThicknessSelect.addEventListener('change', fontThicknessChange);
            blurReg.addEventListener('change', blurChange);
            alphaReg.addEventListener('change', alphaChange);
            alphaTextReg.addEventListener('change', alphaTextChange);
            fontSelect.addEventListener('change', fontChange);
            fontSelect1.addEventListener('change', fontChange1);
            sourceText.addEventListener('input', translateText);
            modelSelect.addEventListener('change', translateText);
            startLanguageSelect.addEventListener('change', translateText)
            endLanguageSelect.addEventListener('change', translateText)
            function placeTranslated(){
                document.querySelectorAll('.hitbox').forEach(hitbox => {
                        if (hitbox.dataset.selected === 'true') {
                            hitbox.dataset.description =  translatedText.value ;
                            hitbox.dataset.locale = endLanguageSelect.value;
                            hitbox.querySelector('.hitbox-text').textContent = translatedText.value;
                        }
                    });
            }
            translateButton.addEventListener('click', placeTranslated);

            async function translate_all() {
                const hitboxes = document.querySelectorAll('.hitbox');
                const fromLang = startLanguageSelect.value;
                console.log(fromLang)
                const toLang = endLanguageSelect.value;
                const engine = modelSelect.value;

                for (const hitbox of hitboxes) {
                    const text = hitbox.dataset.description.trim();

                    const response = await fetch(`/translate?engine=${engine}&from=${fromLang}&to=${toLang}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ text: text })
                    });

                    const data = await response.json();
                    hitbox.dataset.description = data.translation;
                    hitbox.dataset.locale = toLang;
                    hitbox.querySelector('.hitbox-text').textContent = data.translation;

                    // await new Promise(resolve => setTimeout(resolve, 50));
                }
            }

            translateAllButton.addEventListener('click', translate_all);

            function refresh() {
                var flag = true;
                Array.from(overlaysContainer.children).forEach(child => {
                    const hitbox = child.querySelector('.hitbox');
                    if (hitbox && hitbox.dataset.selected === 'true') {
                        const imgs = child.querySelectorAll('img');
                        imgs.forEach(img => {
                            img.src = img.dataset.image_src;
                        });
                        hitbox.dataset.description = hitbox.dataset.original_text;
                        hitbox.querySelector('.hitbox-text').textContent = hitbox.dataset.original_text;
                        flag = false;
                    }
                });

                if (flag) {
                    Array.from(overlaysContainer.children).forEach(child => {
                        const hitbox = child.querySelector('.hitbox');
                        if (hitbox) {
                            const imgs = child.querySelectorAll('img');
                            imgs.forEach(img => {
                                img.src = img.dataset.image_src;
                            });
                            hitbox.dataset.description = hitbox.dataset.original_text;
                            hitbox.querySelector('.hitbox-text').textContent = hitbox.dataset.original_text;
                        }
                    });
                }
            }
            refreshButton.addEventListener('click', refresh);
        };

        if (originalImage.complete) {
            originalImage.onload();
        }

    });
</script>

<style>
    #all {
        position: relative;
    }

    .hitbox {
        position: absolute;
        border: 2px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: auto;
        cursor: pointer;
    }

    .hitbox[data-selected="true"] {
        background-color: #4b9cd3; /* Darker blue */
        border: 2px solid blue;
    }

    .hitbox-text {
        color: #000000; /* White text */
        text-align: center;
        word-wrap: break-word;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    #original-image {
        display: block;
        max-width: 100%;
        z-index: 5;
    }

</style>
</body>
</html>
