<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
    <title>Uploaded Image</title>
</head>
<body>
<div id="all">
    <div class="up-menu mycontainer">
        <img src="static/refresh.png"/>
    </div>
    <div id="menu-and-picture">
        <div class="translation-menu mycontainer">
            <div>
                <select class="select1" name="models" id="model-select">
                    <option value="google_translate">Google переводчик</option>
                    <option value="ChatGPT3.5">ChatGPT3.5</option>
                    <option value="yandex_translate">Yandex переводчик</option>
                </select>
            </div>
            <div>
                <select class="select1" name="languages" id="start-language-select">
                    <option value="en">English</option>
                    <option value="ja">Japanese</option>
                    <option value="ru">Russian</option>
                    <option value="zh-CN">Chinese</option>
                    <option value="ko">Korean</option>
                </select>
            </div>
            <div><textarea id="source-text"></textarea></div>
            <div>
                <select class="select1" name="languages2" id="end-language-select">
                    <option value="en">English</option>
                    <option value="ja">Japanese</option>
                    <option value="ru">Russian</option>
                    <option value="zh-CN">Chinese</option>
                    <option value="ko">Korean</option>
                </select>
            </div>
            <div><textarea id="translated-text"></textarea></div>
            <div>
                <button class="button" id="translate-button">Перевести</button>
            </div>
        </div>
        <div id="picture-download" style="position: relative;">
            <img src="{{ url_for('send_uploaded_file', filename=filename) }}" alt="Uploaded Image" id="original-image">
            <button class="button"><a href="{{ url_for('send_uploaded_file', filename=filename) }}">Загрузить</a></button>
            <div id="bubble-overlays" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 10;"></div>
        </div>
        <div class="text-menu mycontainer">
            <div>
                <select name="fonts" id="fonts-select" class="select2">
                    <option value="Times New Roman">Times New Roman</option>
                    <option value="Arial">Arial</option>
                    <option value="Comic Sans">Comic Sans</option>
                </select>
            </div>
            <div>
                <select name="types" id="types-select" class="select2">
                    <option value="Regular">Regular</option>
                    <option value="Bold">Bold</option>
                    <option value="Thick">Thick</option>
                </select>
            </div>
            <div>
                <select name="fontsize" id="fontsize-select" class="select2">
                    <option value="10">10</option>
                    <option value="12">12</option>
                    <option value="14">14</option>
                    <option value="16">16</option>
                    <option value="18" selected>18</option>
                    <option value="20">20</option>
                    <option value="22">22</option>
                    <option value="24">24</option>
                    <option value="26">26</option>
                    <option value="28">28</option>
                </select>
            </div>
             <div class="up-menu mycontainer">
                <img src="static/left.png"/>
                 <img src="static/center.png"/>
                 <img src="static/right.png"/>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const bubbles = {{ bubbles|tojson }};
        const originalImage = document.getElementById('original-image');
        const overlaysContainer = document.getElementById('bubble-overlays');

        const sourceText = document.getElementById('source-text');
        const translatedText = document.getElementById('translated-text');
        const modelSelect = document.getElementById('model-select');
        const startLanguageSelect = document.getElementById('start-language-select');
        const endLanguageSelect = document.getElementById('end-language-select');
        const translateButton = document.getElementById('translate-button');
        const fontSelect1 = document.getElementById('fonts-select');


	const fontSelect = document.getElementById('fontsize-select');

        originalImage.onload = function () {
            const imageRect = originalImage.getBoundingClientRect();
            const containerRect = overlaysContainer.getBoundingClientRect();
            const naturalWidth = originalImage.naturalWidth;
            const naturalHeight = originalImage.naturalHeight;

            const scaleX = imageRect.width / naturalWidth;
            const scaleY = imageRect.height / naturalHeight;

            bubbles.forEach((bubble, index) => {
                const bubbleDiv = document.createElement('div');
                bubbleDiv.id = `bubble-${index}`;
                bubbleDiv.style.position = 'absolute';
                bubbleDiv.style.pointerEvents = 'none';

                bubble[0].forEach((fill, fillIndex) => {
                    const fillImg = document.createElement('img');
                    fillImg.src = '/temp/' + fill[2];
                    fillImg.style.position = 'absolute';
                    fillImg.style.left = `${(fill[0][0] * scaleX) + (imageRect.left - containerRect.left)}px`;
                    fillImg.style.top = `${(fill[0][1] * scaleY) + (imageRect.top - containerRect.top)}px`;
                    fillImg.style.width = `${(fill[1][0] - fill[0][0]) * scaleX}px`;
                    fillImg.style.height = `${(fill[1][1] - fill[0][1]) * scaleY}px`;
                    bubbleDiv.appendChild(fillImg);
                });

                // Check if bubble[3] exists and create hitbox
                if (bubble[3] && bubble[3].length === 2) {
                    const hitbox = document.createElement('div');
                    hitbox.className = 'hitbox';
                    hitbox.style.left = `${(bubble[3][0][0] * scaleX) + (imageRect.left - containerRect.left)}px`;
                    hitbox.style.top = `${(bubble[3][0][1] * scaleY) + (imageRect.top - containerRect.top)}px`;
                    hitbox.style.width = `${(bubble[3][1][0] - bubble[3][0][0]) * scaleX}px`;
                    hitbox.style.height = `${(bubble[3][1][1] - bubble[3][0][1]) * scaleY}px`;
                    hitbox.dataset.selected = 'false';
                    hitbox.dataset.locale = bubble[2];
                    hitbox.dataset.description = bubble[1];
                    
                    hitbox.innerHTML = `<div class="hitbox-text" style="font-size: ${fontSelect.value}px;">${bubble[1]}</div>`;
                    // hitbox.innerHTML = `<div class="hitbox-text">${bubble[1]}</div>`;
                    bubbleDiv.appendChild(hitbox);

                    hitbox.addEventListener('mouseenter', function () {
                        if (hitbox.dataset.selected !== 'true') {
                            hitbox.style.backgroundColor = 'rgba(75, 156, 211, 0.6)'; // Lighter blue
                        }
                    });

                    hitbox.addEventListener('mouseleave', function () {
                        if (hitbox.dataset.selected !== 'true') {
                            hitbox.style.backgroundColor = 'rgba(0, 0, 0, 0)';
                        }
                    });
                }

                overlaysContainer.appendChild(bubbleDiv);
            });

            document.addEventListener('click', function (event) {
                const imageRect = originalImage.getBoundingClientRect();
                if(event.clientX >= imageRect.left && event.clientX <= imageRect.right && event.clientY >= imageRect.top && event.clientY <= imageRect.bottom){
                let hitboxClicked = false;

                document.querySelectorAll('.hitbox').forEach(hitbox => {
                    if (hitbox.contains(event.target)) {
                        hitboxClicked = true;
                        if (hitbox.dataset.selected === 'true') {
                            hitbox.dataset.selected = 'false';
                            hitbox.style.backgroundColor = 'rgba(0, 0, 0, 0)';
                        } else {
                            document.querySelectorAll('.hitbox').forEach(hb => {
                                hb.dataset.selected = 'false';
                                hb.style.backgroundColor = 'rgba(0, 0, 0, 0)';
                            });
                            hitbox.dataset.selected = 'true';
                            hitbox.style.backgroundColor = '#4b9cd3'; // Darker blue
                            updateTranslationMenu(hitbox);
                            fontSelect.value = hitbox.querySelector('.hitbox-text').style.fontSize.slice(0, -2);
                        }
                    } else {
                        hitbox.dataset.selected = 'false';
                        hitbox.style.backgroundColor = 'rgba(0, 0, 0, 0)';
                    }
                });

                if (!hitboxClicked) {
                    document.querySelectorAll('.hitbox').forEach(hitbox => {
                        hitbox.dataset.selected = 'false';
                        hitbox.style.backgroundColor = 'rgba(0, 0, 0, 0)';
                    });
                }
                }
            });

            function updateTranslationMenu(hitbox) {
                sourceText.value = hitbox.dataset.description;
                startLanguageSelect.value = hitbox.dataset.locale;
                translateText();
            }

            function translateText() {
                const text = sourceText.value.trim();
                const fromLang = startLanguageSelect.value;
                const toLang = endLanguageSelect.value;
                const engine = modelSelect.value;

                fetch(`/translate?engine=${engine}&from=${fromLang}&to=${toLang}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ text: text })
                })
                .then(response => response.json())
                .then(data => {
                    translatedText.value = data.translation;
                });
            }

            function fontChange() {
                document.querySelectorAll('.hitbox').forEach(hitbox => {
		        if (hitbox.dataset.selected === 'true') {
		            hitbox.querySelector('.hitbox-text').style.fontSize = fontSelect.value+'px';
		        }
		    });
            }
            function fontChange1() {
                console.log("hello");
                document.querySelectorAll('.hitbox').forEach(hitbox => {
		        if (hitbox.dataset.selected === 'true') {
		            hitbox.querySelector('.hitbox-text').style.fontFamily = fontSelect1.value;
		        }
		    });
            }
            
            fontSelect.addEventListener('change', fontChange);
            fontSelect1.addEventListener('change', fontChange1);
            sourceText.addEventListener('input', translateText);
            modelSelect.addEventListener('change', translateText)
            startLanguageSelect.addEventListener('change', translateText)
            endLanguageSelect.addEventListener('change', translateText)
            function placeTranslated(){
                document.querySelectorAll('.hitbox').forEach(hitbox => {
                        if (hitbox.dataset.selected === 'true') {
                            hitbox.dataset.description =  translatedText.value ;
                            hitbox.dataset.locale = endLanguageSelect.value;
                            hitbox.querySelector('.hitbox-text').textContent = translatedText.value;
                        }
                    });
            }
            translateButton.addEventListener('click', placeTranslated);
        };

        if (originalImage.complete) {
            originalImage.onload();
        }
    });
</script>

<style>
    #all {
        position: relative;
    }

    .hitbox {
        position: absolute;
        border: 2px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: auto;
        cursor: pointer;
    }

    .hitbox[data-selected="true"] {
        background-color: #4b9cd3; /* Darker blue */
        border: 2px solid blue;
    }

    .hitbox-text {
        color: #000000; /* White text */
        text-align: center;
        word-wrap: break-word;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    #original-image {
        display: block;
        max-width: 100%;
        z-index: 5;
    }
</style>
</body>
</html>
